#ls-modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0; /* Initial state */
    transition: opacity 0.2s ease; /* Smooth transition */
    backdrop-filter: blur(20px);
    z-index: 2000;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#ls-modal-container.show {
    opacity: 1; /* Fully visible */
}

#ls-modal-header-logo {
    height: 40px;
}

#ls-modal {
    border: 1px solid #ffffff0d;
    box-shadow: 1px 1px 10px #0000001c;
    font-family: "Nunito", serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    width: max-content;
    overflow: clip;
}

#ls-modal-header {
    padding: 12px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(100deg, #4C97FF -2.26%, #59C059 135.83%);
}

#ls-modal-content {
    display: flex;
    flex-direction: column;
    padding: 17px 25px;
}